<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
          package="com.cabinInformationTechnologies.cabin">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo_icon_resized"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:usesCleartextTraffic="true"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_path">

            </meta-data>
        </provider>

        <activity android:name="com.cabinInformationTechnologies.cabin.MainActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerAgreement.CabinCustomerAgreementActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerCameraPreview.CabinCustomerCameraPreviewActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerCamera.CabinCustomerCameraActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerProfileOptions.CabinCustomerProfileOptionsActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerExtraditions.CabinCustomerExtraditionsActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerFinishTrade.CabinCustomerFinishTradeActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerMeasure.CabinCustomerMeasureActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
        <activity android:name="com.cabinInformationTechnologies.cabinCustomerRegistration.CabinCustomerRegistrationActivity"
                android:configChanges="orientation"
                android:screenOrientation="portrait"/>
    </application>

</manifest>