<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="ist.cabin.cabincustomer">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/logo_icon_resized"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="com.example.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_path">

            </meta-data>
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ist.cabin.cabinCustomerRoot.CabinCustomerRootActivity"/>
        <activity android:name="ist.cabin.cabinCustomerLogin.CabinCustomerLoginActivity"/>
        <activity android:name="ist.cabin.cabinCustomerRegister.CabinCustomerRegisterActivity"/>
        <activity android:name="ist.cabin.cabinCustomerHome.CabinCustomerHomeActivity"/>
        <activity android:name="ist.cabin.cabinCustomerAgreement.CabinCustomerAgreementActivity"/>
        <activity android:name="ist.cabin.cabinCustomerForgotpassword.CabinCustomerForgotpasswordActivity"/>
        <activity android:name="ist.cabin.cabinCustomerEmailconfirmation.CabinCustomerEmailconfirmationActivity"/>
        <activity android:name="ist.cabin.cabinCustomerManualMeasureInput.CabinCustomerManualMeasureInputActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="ist.cabin.cabinCustomerCameraPreview.CabinCustomerCameraPreviewActivity"/>
        <activity android:name="ist.cabin.cabinCustomerCamera.CabinCustomerCameraActivity"/>
        <activity android:name="ist.cabin.cabinCustomerOrders.CabinCustomerOrdersActivity"/>
    </application>

</manifest>